:root {
  --main-txt-color: #353535;
  --second-txt-color: #F1F2DE;
  --main-bg-color: #F1F2EA;
}

html {
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows: 64px 1fr 22px;
  grid-template-columns: 1fr;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

.header {
  background-color: #05668D;
  color: var(--second-txt-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > span {
  margin-top: 12px;
  align-self: flex-start;
}

.main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 192px 1fr;
  max-height: calc(100vh - 86px);
}

.footer {
  background-color: #00A896;
  display: flex;
  justify-content: flex-end;
}

.footer__text {
  margin: 0;
  padding-right: 16px;
  font-size: 0.85rem;
  text-decoration: none;
  color: var(--second-txt-color);
}

.sidebar {
  overflow-y: auto;
  background-color: #028090;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 16px;
}

.sidebar__link {
  font-weight: 600;
  text-decoration: none;
  color: var(--second-txt-color);
}

.content {
  overflow-y: auto;
  padding: 16px;
}

.content__link-to-home {
  text-decoration: none;
  color: var(--main-txt-color);
  padding-right: 8px;
}

.title {
  margin: 0;
  display: inline;
}

.subtitle {
  margin: 12px 0 0;
}
