:root {
  --main-txt-color: #353535;
  --second-txt-color: #F1F2DE;
  --main-bg-color: #F1F2EA;
}

body {
  display: grid;
  grid-template-rows: 64px 1fr 22px;
  grid-template-columns: 1fr;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  height: 100vh;
  overflow: hidden;
  font-size: 1.125rem;
}

header {
  background-color: #05668D;
  color: var(--second-txt-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .75rem;
}

.header__form {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.header__input {
  flex-grow: 2;
  flex-shrink: 1;
  margin: 0 .75rem;
}

.header__button {
  background-color: #028090;
  cursor: pointer;
}

.header__cancel-button {
  border-left:none;
  background-color: #be596a;
  cursor: pointer;
}

main {
  min-height: 100vh - 86px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  margin: 1rem;
  width: calc(100vw - 1rem);
}

td {
  padding: 1px .5rem;
  border: 1px solid var(--main-txt-color);
  color: var(--main-txt-color);
}

tr:hover > td {
  background-color: #E0E0E0;
}

.table-item__action {
  display: flex;
  justify-content: space-around;
}

.table-item__edit,
.table-item__del {
  width: 3rem;
  cursor: pointer;
  color: var(--second-txt-color);
  border-radius: .5rem;
  padding-top: 1px;
  padding-bottom: 1px;
  border: none;
}

.table-item__edit {
  background-color: #75ac6b;
}

.table-item__del {
  background-color: #be596a;
}

ul {
  padding: 0 ;
  margin: 0;
  list-style-type: none;
}

footer {
  background-color: #00A896;
  display: flex;
  justify-content: flex-end;
}

.footer__text {
  margin: 0;
  padding-right: 16px;
  font-size: .85rem;
  text-decoration: none;
  color: var(--second-txt-color);
}
